---
// src/pages/admin/send-newsletter.astro
import SendNewsLetter from "../components/SendNewsLetter" ;
---

<!-- <Layout title="Send Newsletter"> -->
  <h1>Send Newsletter</h1>
  <SendNewsLetter client:load />
<!-- </Layout> -->